  <div class="row">
  <div class="col-md-12 ">
    <ul class="nav nav-tabs">
      <li role="presentation" *ngFor="let cha of chartNames;let i=index " [ngClass]="{'active':pickChart==i}"><a href="javascript:void(0);" (click)="diffChart(i)">{{cha}}</a></li>
    </ul>
  </div>
</div>
<div class="row" style="margin:10px 0px">
  <div class="col-md-2 col-md-offset-6">
  </div>
  <div class="col-md-4">
    <gjj-datepicker [primaryData]="primaryData" (datechange)="datePicker($event)"></gjj-datepicker>
  </div>
</div>
  
  <div *ngIf='firmRankShow' class="panel panel-default">
  <div class="panel-heading">单位业务量排名</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 ">
        <div  style="margin-top:10px">
          <table  class="table">
            <thead>
              <tr>

                <th>单位名</th>
                <th>业务量</th>
              </tr>
            </thead>
            <tr *ngFor="let table of firmList">
              <th> {{table.name}}</th>
              <td>{{table.value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>